# Core functionality - changes here should be rare!
/src/app.py                   @jayeshdhakate73
/src/backend/database.py      @jayeshdhakate73
/src/backend/routers/auth.py  @jayeshdhakate73

# The frontend will need refactored soon to be more object oriented.
/src/static/   @jayeshdhakate73
